<turbo-frame id="forecast">
    <h2>Forecast</h2>
    <table>
        <tr><td>Current Temp</td><td><%= @current_temp %></td></tr>
        <tr><td>High</td><td><%= @high_temp %></td></tr>
        <tr><td>Low</td><td><%= @low_temp %></td></tr>
    </table>
</turbo-frame>