<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <turbo-frame id="forecast">
        <h2>Get Local Forecast</h2>
        <form method='POST'>
        Address: <input type='text' id='address' />
        <button type='submit'>Submit</button>
        </form>
    </turbo-frame>    
    </body>
</html>